
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
p{
    color: grey;
}
.button{
    padding: 10px 40px;
    color: white;
    background-color: black;
    text-decoration: none;

}
/* Home Section */
.home-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.home-section{
    background-color: white;
    padding: 100px;
}
.display{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    margin-left: 50%;

}
.half-width a i{
    color: black;
    margin-right: 20px;
    font-size: 20px;
}
/* About Section */
.myself{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

}
.personal-details{
    text-align: justify;
    margin-left: 10%;
}
.personal-details2{
    text-align: left;
    margin-left: 10%;
}
.personal-details2 strong{
    color: black;
}
/* Contact Section */
.contact-section h1{
    margin-top: 50px;
}
/* Skills Section */
.newone{
    text-align: center;
}
.skills-half{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 30px gray;
}
.skills-half h1{
    text-align: center;
}
#html{
    border-left: 7px solid ;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#css{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
/* Footer Section */
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer p{
    text-align: center;
    color: black;
    font-size: 20px;
}